Source: libprelude
Section: devel
Priority: optional
Maintainer: Banux <banux@mail.ru>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: libprelude-dev
Architecture: any
Depends: libprelude1 (= ${Source-Version}), libc6-dev
Description: Prelude is an Hybrid Intrusion Detection System, written entirely from scratch, in C.
 Prelude is divided in several parts:
 * The Prelude NIDS sensor, responssible for real time packet capture and
  analysis :
 - The signature engine, designed to be completly generic and evolutive, it is
   currently able to read Snort rulesets. By simply adding parser, it should
   permit to load rulesets from any NIDS easily.
 - The protocol plugins, which can handle packets at a higher level than prelude
   do, ie: you got a tcp packet, and a Protocol plugin detect that packet data
   contain an ssh header, so it will decode the ssh header, and ask to the
   associated Detection plugin to analyze the decoded header.
 - A set of detection plugins which job is to analyze the data they are
   interested in (they register the protocol they are interested in at
   initialization time), and will eventually emmit a security warning. Dection
   plugin should only be used for complex intrusion detection that can't be
   done using the signature engine.

Package: libprelude1
Architecture: any
Depends: ${shlibs:Depends}
Description: Prelude is an Hybrid Intrusion Detection System, written entirely from scratch, in C.
 Prelude is divided in several parts:
 * The Prelude NIDS sensor, responssible for real time packet capture and
  analysis :
 - The signature engine, designed to be completly generic and evolutive, it is
   currently able to read Snort rulesets. By simply adding parser, it should
   permit to load rulesets from any NIDS easily.
 - The protocol plugins, which can handle packets at a higher level than prelude
   do, ie: you got a tcp packet, and a Protocol plugin detect that packet data
   contain an ssh header, so it will decode the ssh header, and ask to the
   associated Detection plugin to analyze the decoded header.
 - A set of detection plugins which job is to analyze the data they are
   interested in (they register the protocol they are interested in at
   initialization time), and will eventually emmit a security warning. Dection
   plugin should only be used for complex intrusion detection that can't be
   done using the signature engine.
